@model deneme12.Entity.DersProgrami

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>DersProgrami</h4>
    <hr />
    <dl class="row">
     
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DersProgramiList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DersProgramiList.DersProgramiListId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinif.SinifId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gun.GunId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Derslik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Derslik.DerslikId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ders.DersId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DersProgramiId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
