@model OgrenciEditModel
@{
    Layout = "_YoneticiLayout";
}
<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Sayfalar</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Öğrenci Kayıt</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Öğrenci Kayıt</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
         
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">@User.Identity.Name</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>
          
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
     
   
     
      <div class="row my-4">
        <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-12 col-7">
                <form asp-action="Güncelle" asp-controller="Yonetici" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="@Model.OgrenciId" />
                <div class="mb-3">
                    <span asp-validation-for="@Model.OgrenciName" class="text-danger"></span>
                  <input type="text" class="form-control" placeholder="@Model.OgrenciName" asp-for="@Model.OgrenciName" >
                </div>
                <div class="mb-3">
                    <span asp-validation-for="@Model.OgrenciTcKimlik" class="text-danger"></span>
                  <input type="text" class="form-control" placeholder="@Model.OgrenciTcKimlik" asp-for="@Model.OgrenciTcKimlik" >
                </div>
                
                 <div class="mb-3">
                    <span asp-validation-for="@Model.Telefon" class="text-danger"></span>
                  <input type="text" class="form-control" placeholder="@Model.Telefon" asp-for="@Model.Telefon" >
                </div>
                 <div class="mb-3">
                    <span asp-validation-for="@Model.Adres" class="text-danger"></span>
                  <input type="text" class="form-control" placeholder="@Model.Adres" asp-for="@Model.Adres" >
                </div>
                 <div class="mb-3">
                    <span asp-validation-for="@Model.OKulName" class="text-danger"></span>
                  <input type="text" class="form-control" placeholder="@Model.OKulName" asp-for="@Model.OKulName" >
                </div>
                 <div class="mb-3">
                    <span asp-validation-for="@Model.Tarih" class="text-danger"></span>
                  <input type="date" class="form-control" placeholder="@Model.Tarih" asp-for="@Model.Tarih" >
                </div>

                <div class="mb-3">
                    <span asp-validation-for="@Model.Resim" class="text-danger"></span>
                  <input type="file" class="form-control" placeholder="Resim" asp-for="@Model.Resim" >
                </div>
              
                <div class="text-center">
                  <button type="submit" class="btn btn-primary bg-gradient-dark w-100 my-4 mb-2">Güncelle</button>
                </div>
               
              </form>
                </div>
              
                                   
               
              </div>
            </div>
           
          </div>
        </div>
       
      </div>
      
      <footer class="footer pt-3  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                © <script>
                  document.write(new Date().getFullYear())
                </script>,
                made with <i class="fa fa-heart"></i> by
                <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
                for a better web.
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="https://creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </main>